$theme-color: #3378dd;
$page-backgroup-color: #f4f7fa; //页面背景颜色

$text-color-1: #333333; //文本一级信息

$error-color: #fae6e3;
$success-color: #dff2ef;
$warn-color: #fff6e4;
$info-color: $theme-color;
$white-color: #ffffff;
$block-color: #000000;

$button-hover-color: #3d82e7;
$button-disable: #ebebeb;

$fontsize-1: 12px;
$fontsize-2: 14px;
$fontsize-3: 16px;
$fontsize-4: 18px;
$fontsize-5: 20px;

$border-radius: 4px;
$button-padding-level: 15px;
$button-padding-vertical: 5px;
$button-height: 30px;

$sliver-height: 40px;

$box-padding-level: 20px;

.zc-button {
  background-color: $theme-color;
  color: $white-color;
  border-radius: $border-radius;
  border: none;
  padding: 0px $button-padding-level;
  height: $button-height;
  font-size: $fontsize-2;
  cursor: pointer;
  &:hover {
    background-color: $button-hover-color;
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    background-color: $button-disable;
  }
}

.zc-sliver {
  height: $sliver-height;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-left: $box-padding-level;
  display: flex;
  align-items: center;
  $border-radius: $border-radius;
  font-size: $fontsize-3;
  background-color: $info-color;
  color: $white-color;
}
.zc-sliver > .zc-sliver-close {
  position: absolute;
  right: $box-padding-level;
}

.zc-circle {
  display: inline-block;
  border-radius: 100%;
  width: $box-padding-level;
  height: $box-padding-level;
  line-height: $box-padding-level;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: $theme-color;
  color: $white-color;
  background-color: $theme-color;
}
