@import "./reset";

$theme-color: #3378dd;
$page-backgroup-color: #f4f7fa; //页面背景颜色

$text-color-1: #333333; //文本一级信息

$error-color: #fae6e3;
$success-color: #dff2ef;
$warn-color: #fff6e4;
$info-color: $theme-color;
$white-color: #ffffff;
$black-color: #000000;

$button-hover-color: #3d82e7;
$button-disable: #ebebeb;

$partition-line-color: #efefef;

$input-border-color: #ebebeb;
$input-text-color: #333333;

$fontsize-1: 12px;
$fontsize-2: 14px;
$fontsize-3: 16px;
$fontsize-4: 18px;
$fontsize-5: 20px;

$border-radius: 4px;
$button-padding-level: 15px;
$button-padding-vertical: 5px;
$button-height: 30px;

$sliver-height: 40px;

$box-padding-level: 20px;
$box-padding-vertical: 20px;
$top: 50px;

$popup-panels-width: 500px;
$popup-panels-height: 500px;
$popup-panels-header-height: 40px;
$popup-panels-footer-height: 40px;

$input-height: 30px;
$input-width: 200px;

$small-img-height: 100px;
$small-img-width: 100px;

.zc-button {
  background-color: $theme-color;
  color: $white-color;
  border-radius: $border-radius;
  border: none;
  padding: 0px $button-padding-level;
  height: $button-height;
  font-size: $fontsize-2;
  cursor: pointer;
  &:hover {
    background-color: $button-hover-color;
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    background-color: $button-disable;
  }
}

.zc-sliver {
  height: $sliver-height;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-left: $box-padding-level;
  display: flex;
  align-items: center;
  $border-radius: $border-radius;
  font-size: $fontsize-3;
  background-color: $info-color;
  color: $white-color;
}
.zc-sliver > .zc-sliver-close {
  position: absolute;
  right: $box-padding-level;
}

.zc-circle {
  display: inline-block;
  border-radius: 100%;
  width: $box-padding-level;
  height: $box-padding-vertical;
  line-height: $box-padding-vertical;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: $theme-color;
  color: $white-color;
  background-color: $theme-color;
}

.zc-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba($color: $black-color, $alpha: 0.5);
}

.zc-popup-panels-parents {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 3;
  padding: 0px;
  margin: 0px;
}
.zc-popup-panels {
  position: relative;
  margin: 0px auto;
  padding: $box-padding-vertical $box-padding-level;
  top: $top;
  z-index: 3;
  width: $popup-panels-width;
  background-color: $white-color;
  border-radius: $border-radius;
}
.zc-popup-panels-header {
  position: relative;
  border-bottom: solid 1px $partition-line-color;
  height: $popup-panels-header-height;
  line-height: $popup-panels-header-height;
  pointer-events: none;
}
.zc-popup-panels-content {
  position: relative;
  overflow-y: auto;
  height: $popup-panels-height;
  padding-top: $box-padding-vertical;
  padding-bottom: $box-padding-vertical;
  pointer-events: none;
}
.zc-popup-panels-footer {
  position: relative;
  border-top: solid 1px $partition-line-color;
  height: $popup-panels-footer-height;
  line-height: $popup-panels-footer-height;
  pointer-events: none;
}

.zc-input-parents {
  position: relative;
}
.zc-input {
  height: $input-height;
  border: none;
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: $input-border-color;
  outline: none;
  padding-left: $box-padding-level;
  padding-right: $box-padding-level * 2;
  color: $input-text-color;
  width: $input-width;
  line-height: $input-height;
}
.zc-textarea {
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;
  border-color: $input-border-color;
  color: $input-text-color;
  padding: $box-padding-vertical/2 $box-padding-level/2;
  width: $input-width;
}
.zc-input:focus,
.zc-textarea:focus {
  border-color: $theme-color;
}
.zc-input-icon {
  position: absolute;
  right: $box-padding-level / 2;
  top: 0px;
  bottom: opx;
  color: $input-text-color;
}

.zc-auto-size {
  background-color: $page-backgroup-color;
}

.zc-img-zoom-parents {
  position: relative;
}
.zc-img-zoom {
  width: $small-img-width;
  height: $small-img-height;
}
.zc-img-zoom-enlarge-icon {
  position: absolute;
  right: 2px;
  color: $theme-color;
}
.zc-img-zoom-big {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  z-index: 3;
  padding: $box-padding-vertical $box-padding-level * 2;
  background-color: transparent;
  overflow-y: auto;
}
.zc-img-zoom-big img {
  max-width: 100%;
}
.zc-img-zoom-big-icon {
  position: absolute;
  top: 0px;
  right: $box-padding-level;
  color: $theme-color;
}
.zc-img-zoom-big-icon i {
  font-size: $fontsize-5;
}
.zc-img-zoom-tools {
  position: relative;
  z-index: 4;
  color: $theme-color;
  background-color: $page-backgroup-color;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.zc-img-zoom-tools > span > i {
  font-size: $fontsize-5;
}
